/* ---------- header/defaults ---------- */

:root {
  --black-var: #292521;
  --white-var: #faf8f2;
  --red-var: #942703;
  --grey-var: #cecbc2;
  --gold-var: #d99543;
}

body {
  margin: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--red-var);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 55vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.App-link {
  color: var(--white-var);
  background-color: var(--gold-var);
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  padding-left: 18px;
  padding-right: 18px;
  background-clip: padding-box;
}

a:link {
  color: var(--white-var);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: var(--gold-var);
  background-color: var(--white-var);
  text-decoration: none;
}

html {
  text-align: center;
  background-color: var(--red-var);
  scroll-behavior: smooth;
}

/* ---------- search ---------- */

.searchdiv {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: var(--red-var);
}

.searchBar {
  width: 400px;
  color: var(--white-var);
  background-color: var(--gold-var);
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  font-weight: 400;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: var(--white-var);
  font-family: mencken-std-text, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.searchbtn {
  background-color: var(--red-var);
  border: none;
  position: relative;
  width: 32px;
  margin-right: 10px;
}

.searchbtn:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-var);
  border-radius: 25px;
  min-width: 180px;
}

.menus {
  padding: 30px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.buttons {
  color: var(--white-var);
  background-color: var(--black-var);
  font-size: 14px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  text-align: center;
  width: 180px;
  height: 40px;
  font-weight: 100;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.buttons:hover {
  color: var(--white-var);
  border-radius: 25px;
  background-color: #bab6a9;
}

/* ---------- results ---------- */

.results {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: var(--red-var);
}

.heading {
  font-size: 22px;
  margin-bottom: 40px;
}

.resultsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: var(--red-var);
  margin-bottom: 50px;
}

.cards {
  background-color: var(--white-var);
  border-radius: 5px;
}

.imageHolder {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 9px;
  margin-bottom: 10px;
}

.result {
  color: var(--black-var);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
}

.cards .title {
  font-size: 20px;
  font-weight: 400;
}

/* ---------- footer ---------- */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  color: var(--black-var);
  background-color: var(--grey-var);
  font-family: mencken-std-text, sans-serif;
  font-weight: 100;
  padding: 6px;
}
