/* ---------- header/defaults ---------- */

:root {
  --black-var: #292521;
  --white-var: #faf8f2;
  --red-var: #942703;
  --grey-var: #cecbc2;
  --gold-var: #ce8b39;
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--red-var);
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

.App {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.App-link {
  color: var(--white-var);
  background-color: var(--gold-var);
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  padding-left: 18px;
  padding-right: 18px;
  background-clip: padding-box;
}

a:link {
  color: var(--white-var);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: var(--gold-var);
  background-color: var(--white-var);
  text-decoration: none;
  transition: 0.4s;
}

html {
  text-align: center;
  background-color: var(--red-var);
  scroll-behavior: smooth;
  height: 100vh;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--black-var);
  width: min-content;
  height: 100%;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--white-var);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  transition: 0.4s;
}

/* ---------- search ---------- */

.searchdiv {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: var(--red-var);
}

.searchBar {
  width: 400px;
  color: var(--white-var);
  background-color: var(--gold-var);
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  font-weight: 400;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: var(--white-var);
  font-family: mencken-std-text, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.searchbtn {
  color: var(--white-var);
  background-color: var(--red-var);
  font-size: 32px;
  border: none;
  position: relative;
}

.searchbtn:hover {
  cursor: pointer;
}

.menus {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 10vh;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  color: var(--grey-var);
  background-color: var(--black-var);
  font-size: 14px;
  border-radius: 25px;
  border: none;
  text-align: center;
  width: 180px;
  height: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.buttons:hover {
  color: var(--white-var);
  border-radius: 25px;
  background-color: var(--grey-var);
  transition: 0.4s;
}

/* ---------- filter ---------- */

.checkcontainer {
  color: var(--grey-var);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 14px;
  text-align: center;
  height: 60px;
}

.checkContainerHide {
  display: none;
}

.checkitem {
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 130px;
}

.checkbtn {
  display: none;
}

.checkbtn:checked {
  color: var(--grey-var);
  background-color: var(--black-var);
  font-size: 14px;
  border: none;
  text-align: center;
}

#diet {
  display: none;
}

#intolerances {
  display: none;
}

#cuisine {
  display: none;
}

select {
  color: var(--grey-var);
  background-color: var(--black-var);
  font-size: 14px;
  border-radius: 25px;
  border: none;
  text-align: center;
  width: 135px;
  height: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

select:hover {
  color: var(--white-var);
  border-radius: 25px;
  background-color: var(--grey-var);
  transition: 0.4s;
}

label {
  color: var(--white-var);
  font-size: 16px;
  border-radius: 2px;
  border: none;
  text-align: center;
  width: 130px;
  height: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label:hover {
  font-style: italic;
  font-weight: bold;
}

/* ---------- results ---------- */

.results {
  margin-left: 10%;
  margin-right: 10%;
  width: min-content;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--red-var);
}

.heading {
  font-size: 22px;
  margin-bottom: 40px;
}

.resultsContainer {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 50px;
  justify-items: center;
  margin-bottom: 50px;
  width: 60%;
}

.cards {
  background-color: var(--white-var);
  border-radius: 10px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.imageHolder {
  display: inline-block;
  background-color: var(--white-var);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 182px;
}

.imageHolder:hover {
  cursor: pointer;
}

.result {
  color: var(--black-var);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 400;
}

.title:hover {
  cursor: default;
}

.favbtn {
  font-size: 18px;
  border: none;
  color: var(--black-var);
  background-color: var(--white-var);
}

.favbtn:hover {
  cursor: pointer;
}

/* ---------- footer ---------- */

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  color: var(--black-var);
  background-color: var(--grey-var);
  font-family: mencken-std-text, sans-serif;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home {
  position: fixed !important;
}

.error {
  color: var(--white-var);
  font-weight: bold;
  font-size: 32px;
  padding-top: 200px;
  padding-bottom: 20px;
}

.errorhome {
  color: var(--white-var);
  background-color: var(--gold-var);
  height: 40px;
  width: 90px;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

h1 {
  font-family: mencken-std-text, sans-serif;
}

.recipeCont {
  margin-left: 30%;
  margin-right: 10%;
  width: min-content;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--red-var);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipediv {
  background-color: var(--white-var);
  border-radius: 25px;
  padding: 20px;
  margin: 24px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

ol {
  padding-inline-start: 0px;
}
